# vim: set ft=nginx:

server {
  listen {{ `{{ .ListenPort }}` }} default_server;
  root /var/www/example;

  index index.html;

  location ~ \.html {
    add_header Cache-Control "must-revalidate";
  }

  location ~ \.(js|css|png|gif|jpg|svg|ico|woff|woff2|ttf|eot|map|json)$ {
    expires max;
  }
  {{ if .SendfileOff }}sendfile off;{{ end }}
  access_log /var/log/nginx/example/web.log std;
  error_log  /var/log/nginx/example/web.err;
}
