# vim: set ft=nginx:

upstream app {
{{ range .BackendAddrs }}
  server {{ . }};
{{ end }}
}

server {
  listen {{ or .ListenPort `8000` }} default_server;
  root /var/www/example;

  location = / {
    try_files /index.html @app;
  }
  location / {
    try_files $uri @app;
  }
  location @app {
    proxy_pass   http://app;
    include proxy_params;
  }

  location ~ \.html$ {
  }
	location ~ \.(js|css|png|gif|jpg|svg|ico|woff|woff2|ttf|eot|map|json)$ {
		expires max;
	}

  access_log /var/log/nginx/web.log std;
  error_log  /var/log/nginx/web.err;
}
