# vim: set ft=nginx:

server {
    listen {{ `{{ .ListenPort }}` }} default_server;
    root /var/www/{{ .ProName }};

    # This location is required to internal redirect "/" to the ".html" location.
    location = / {
        # "index" do an internal redirect if an index file exists.
        index index.html;
    }
    location / {
        # "try_files" only do an internal redirect to the last one.
        # If any preceding one exists, no internal redirect is performed.
        try_files $uri /index.html;
    }
    location ~ \.html$ {
        add_header Cache-Control "must-revalidate";
    }
    location ~ \.(js|css|png|gif|jpg|svg|ico|woff|woff2|ttf|eot|map|json)$ {
        expires max;
    }

    {{ "{{ if .SendfileOff }}sendfile off;{{ end }}" }}
    gzip on;
    gzip_types text/plain text/css text/javascript image/jpeg image/gif image/png
        application/x-javascript application/javascript;

    access_log /var/log/nginx/{{ .ProName }}/web.log std;
    error_log  /var/log/nginx/{{ .ProName }}/web.err;
}
