{{- if .App.Upstream -}}
upstream {{ .App.Upstream }} {
  {{- range .App.Addrs }}
  server {{ . }} fail_timeout=1;
  {{- end }}
}
{{ end -}}

{{- if .Web.Upstream -}}
upstream {{ .Web.Upstream }} {
  {{- range .Web.Addrs }}
  server {{ . }} fail_timeout=1;
  {{- end }}
}
{{ end -}}

server {
  listen 80;
  server_name {{ .Domain }};

  {{ if and .App .Web -}}
  location = / {
    proxy_pass http://{{ .Web.ProxyPass }};
  }
  location ~ \.(html|js|css|png|gif|jpg|svg|ico|woff|woff2|ttf|eot|map|json)$ {
    proxy_pass http://{{ .Web.ProxyPass }};
  }
  location / {
    proxy_pass http://{{ .App.ProxyPass }};
  }
  {{ else -}}
  location / {
    proxy_pass http://{{ (or .App .Web).ProxyPass }};
  }
  {{ end -}}

  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;

  access_log /var/log/nginx/{{ .Domain }}/access.log;
  error_log  /var/log/nginx/{{ .Domain }}/access.err;
}
