# vim: set ft=nginx:

upstream app {
{{ "{{ range .AppAddrs }}\n  server {{ . }};\n{{ end }}" }}
}

server {
  listen {{ `{{ .ListenPort }}` }} default_server;
  root /var/www/{{ .ProName }};

  location = / {
    try_files /index.html @app;
  }
  location / {
    try_files $uri @app;
  }
  location @app {
    proxy_pass   http://app;
    include proxy_params;
  }

  location ~ \.html$ {
  }
	location ~ \.(js|css|png|gif|jpg|svg|ico|woff|woff2|ttf|eot|map|json)$ {
		expires max;
	}

  access_log /var/log/nginx/web.log std;
  error_log  /var/log/nginx/web.err;
}
