# vim: ft=nginx
upstream {{ .AccessName }} {
    {{- range .App.Addrs }}
    server {{ . }};
    {{- end }}
    keepalive 10;
}

server {
    server_name {{ .ExternalURL.Hostname }};
    {{ if .ExternalURLIsHTTPS -}}
    listen              443 ssl http2;
    {{ $parentDomain := domainAncestor .ExternalURL.Hostname 1 -}}
    ssl_certificate     /etc/nginx/certs/{{ $parentDomain }}/{{ $parentDomain }}.fullchain;
    ssl_certificate_key /etc/nginx/certs/{{ $parentDomain }}/{{ $parentDomain }}.key;
    {{ else -}}
    listen 80;
    {{- end }}

    location / {
        proxy_pass http://{{ .DeployName }}.web;
    }

    location ^~ /api/ {
        location /api/ {
            {{ template "pass" . }}
        }

        location /api/_debug {
            auth_basic 'authentication required.';
            auth_basic_user_file /etc/nginx/.htpasswd;
            {{ template "pass" . }}
        }
    }

    access_log /var/log/nginx/{{ .AccessName }}/access.log;
    error_log  /var/log/nginx/{{ .AccessName }}/access.err;
}

{{ if .ExternalURLIsHTTPS -}}
server {
    listen 80;
    server_name {{ .ExternalURL.Hostname }};

    return 301 https://$host$request_uri;
}
{{- end }}

{{- define "pass" -}}
            rewrite ^/api(/.*)$ $1 break;
            proxy_pass http://{{ .AccessName }};
{{- end -}}
